
@media (min-width: 768px) {
  .container-md {
    max-width: 2000px;
  }
}

@media (min-width: 992px) {
  .container-lg {
    max-width: 2000px;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 2000px;
  }
}